n8n-workflows/site-iq-auth-email.json
{
  "name": "Site IQ - Auth Emails",
  "nodes": [
    {
      "parameters": {
        "content": "## Site IQ - Supabase Auth Emails -> Gmail\nSupabase calls this **Send Email Hook** for every auth email (signup / recovery / magic link / email change / invite). It verifies the **Standard Webhooks** signature, builds an on-brand HTML email per action type, and sends it via the existing Gmail credential.\n\n**Webhook URL (production):**\n`https://your-instance.app.n8n.cloud/webhook/site-iq-auth-email`",
        "height": 300,
        "width": 460,
        "color": 4
      },
      "id": "5e3ec4b4-5fc9-5e77-9df2-fd3f6c33289e",
      "name": "note-1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -60
      ]
    },
    {
      "parameters": {
        "content": "### REQUIRED: set the hook secret (env var, NOT hardcoded)\nAdd an n8n variable **`SUPABASE_SEND_EMAIL_HOOK_SECRET`** = the secret Supabase generates (looks like `v1,whsec_...`). The **Verify & Build** node reads it via `$vars`/`$env`.\n\n- **n8n Cloud:** Settings -> Variables -> add the variable.\n- **self-host:** set it as an environment variable on the n8n process.\n\n### Turn it on in Supabase (do LAST)\nDashboard -> **Authentication -> Hooks -> Send Email Hook** -> **Enable** -> type **HTTPS** -> URI = the webhook URL on the left -> **Generate secret** -> paste the SAME secret into this node. Until you do this, real auth emails keep using Supabase SMTP.",
        "height": 300,
        "width": 460,
        "color": 3
      },
      "id": "fa7f42ca-8217-5450-831c-44366b25fc0f",
      "name": "note-2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        -60
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-iq-auth-email",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "129457ab-ff2b-5246-8c8b-63ae796a436e",
      "name": "Send Email webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\n// === Site IQ - Verify & Build (Supabase Send Email Hook) ==========================================\n// 1) Verify the request is genuinely from Supabase (Standard Webhooks HMAC-SHA256).\n// 2) Build the Supabase verify URL + a clean HTML email per email_action_type.\n// On any auth/shape problem we DO NOT throw - we return { valid:false, reason } so the IF node can\n// answer a clean 401 (a thrown error would be a 500 and look like a send failure).\n\nconst crypto = require('crypto');\n\n// --- CONFIG ---------------------------------------------------------------------------------------\nconst SUPABASE_URL = 'https://pwnatkdjuczrzveesyiw.supabase.co';\nconst FROM_NAME = 'Site IQ';\nconst DEFAULT_REDIRECT = 'https://siteiq.monkata.ai';\nconst TOLERANCE_SECONDS = 300; // replay-protection window for webhook-timestamp (5 min, per spec)\n\n// The hook secret Supabase shows you (looks like \"v1,whsec_<base64>\") is read ONLY from n8n config -\n// NEVER hardcoded (this file lives in a PUBLIC repo). Read from an n8n **Variable** named\n// SUPABASE_SEND_EMAIL_HOOK_SECRET (Cloud: Settings -> Variables). NOTE: n8n Cloud BLOCKS $env in Code\n// nodes, so we use $vars (allowed). Wrapped in try/catch so a missing var can never throw.\nlet RAW_SECRET = '';\ntry { if (typeof $vars !== 'undefined' && $vars.SUPABASE_SEND_EMAIL_HOOK_SECRET) RAW_SECRET = $vars.SUPABASE_SEND_EMAIL_HOOK_SECRET; } catch (e) {}\ntry { if (!RAW_SECRET && typeof $env !== 'undefined' && $env.SUPABASE_SEND_EMAIL_HOOK_SECRET) RAW_SECRET = $env.SUPABASE_SEND_EMAIL_HOOK_SECRET; } catch (e) {}\n\n// --- helpers --------------------------------------------------------------------------------------\nfunction fail(reason) { return [{ json: { valid: false, reason: reason } }]; }\n\nfunction getHeader(headers, name) {\n  if (!headers) return undefined;\n  const lower = name.toLowerCase();\n  for (const k of Object.keys(headers)) {\n    if (k.toLowerCase() === lower) return headers[k];\n  }\n  return undefined;\n}\n\n// Constant-time compare of two base64 signature strings (avoids timing side-channels).\nfunction safeEqual(a, b) {\n  try {\n    const ba = Buffer.from(a, 'base64');\n    const bb = Buffer.from(b, 'base64');\n    if (ba.length !== bb.length || ba.length === 0) return false;\n    return crypto.timingSafeEqual(ba, bb);\n  } catch (e) { return false; }\n}\n\nfunction escapeHtml(s) {\n  return String(s == null ? '' : s)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\n}\n\n// --- pull the item / webhook fields ---------------------------------------------------------------\nconst item = $input.first();\nconst headers = item.json.headers || {};\nconst body = item.json.body || {};\n\n// --- gather candidate raw-body representations ----------------------------------------------------\n// Standard Webhooks signs the EXACT request bytes. With the webhook \"Raw Body\" option on, n8n may\n// surface those bytes as binary (base64) OR as $json.rawBody (string), depending on version. We try\n// every candidate against the signature so verification holds regardless of representation.\nconst rawCandidates = [];\ntry {\n  if (item.binary && item.binary.data && item.binary.data.data) {\n    rawCandidates.push(Buffer.from(item.binary.data.data, 'base64').toString('utf8'));\n  }\n} catch (e) { /* ignore */ }\nif (typeof item.json.rawBody === 'string') rawCandidates.push(item.json.rawBody);\nif (item.json.rawBody && item.json.rawBody.type === 'Buffer' && Array.isArray(item.json.rawBody.data)) {\n  try { rawCandidates.push(Buffer.from(item.json.rawBody.data).toString('utf8')); } catch (e) {}\n}\n// Last-resort canonical re-stringify of the parsed body (works when Supabase emits compact JSON).\ntry { rawCandidates.push(JSON.stringify(body)); } catch (e) {}\n// De-duplicate while preserving order.\nconst seen = new Set();\nconst candidates = rawCandidates.filter(c => (typeof c === 'string') && !seen.has(c) && seen.add(c));\n\n// --- Standard Webhooks signature verification -----------------------------------------------------\nconst id = getHeader(headers, 'webhook-id');\nconst ts = getHeader(headers, 'webhook-timestamp');\nconst sigHeader = getHeader(headers, 'webhook-signature');\n\nif (!id || !ts || !sigHeader) return fail('missing Standard Webhooks headers (webhook-id/timestamp/signature)');\n\n// Replay protection: reject timestamps outside the tolerance window.\nconst now = Math.floor(Date.now() / 1000);\nconst tsNum = parseInt(ts, 10);\nif (!Number.isFinite(tsNum)) return fail('invalid webhook-timestamp');\nif (Math.abs(now - tsNum) > TOLERANCE_SECONDS) return fail('webhook-timestamp outside tolerance (possible replay)');\n\n// Derive HMAC key: strip the \"v1,whsec_\" (or bare \"whsec_\") prefix, base64-decode the remainder.\nif (!RAW_SECRET) {\n  return fail('hook secret not configured - set the SUPABASE_SEND_EMAIL_HOOK_SECRET variable in n8n');\n}\nconst secretB64 = RAW_SECRET.replace(/^v1,/, '').replace(/^whsec_/, '');\nlet key;\ntry { key = Buffer.from(secretB64, 'base64'); } catch (e) { return fail('hook secret is not valid base64'); }\nif (!key || key.length === 0) return fail('hook secret decoded to empty key');\n\n// The header is a space-delimited list of \"<version>,<base64sig>\" (supports key rotation). Collect\n// the v1 signatures Supabase sent.\nconst presented = String(sigHeader).split(' ')\n  .map(s => s.trim()).filter(Boolean)\n  .map(s => { const i = s.indexOf(','); return i === -1 ? s : s.slice(i + 1); });\n\n// Accept if ANY (raw-body candidate x presented signature) pair matches our HMAC.\nlet valid = false;\nfor (const raw of candidates) {\n  const signed = `${id}.${ts}.${raw}`;\n  const expected = crypto.createHmac('sha256', key).update(signed, 'utf8').digest('base64');\n  for (const got of presented) { if (safeEqual(expected, got)) { valid = true; break; } }\n  if (valid) break;\n}\nif (!valid) return fail('signature mismatch - request not verified as coming from Supabase');\n\n// === verified - build the email ===================================================================\nconst ed = body.email_data || {};\nconst user = body.user || {};\nconst actionType = ed.email_action_type || 'signup';\nconst redirectTo = ed.redirect_to || user.redirect_to || DEFAULT_REDIRECT;\n\n// Supabase verify URL: <SUPABASE_URL>/auth/v1/verify?token=<token_hash>&type=<type>&redirect_to=<...>\n// NB: the query param is literally named \"token\" but carries the token_HASH value (per Supabase docs).\nfunction verifyUrl(tokenHash, type) {\n  const qs = new URLSearchParams({ token: tokenHash || '', type: type || '', redirect_to: redirectTo });\n  return `${SUPABASE_URL}/auth/v1/verify?${qs.toString()}`;\n}\n\n// Per-action copy. Each entry: { subject, heading, intro, cta, type, tokenHash, recipient, outro }.\n// type is the value put in the verify URL's ?type=; for signup the URL type is \"email\" (Supabase\n// convention) while the action is \"signup\".\nlet spec;\nconst toEmail = user.email;          // default recipient\nswitch (actionType) {\n  case 'signup':\n    spec = { subject: 'Confirm your email for Site IQ', heading: 'Confirm your email',\n             intro: 'Thanks for signing up for Site IQ. Confirm your email address to activate your account.',\n             cta: 'Confirm email', type: 'email', tokenHash: ed.token_hash, recipient: toEmail,\n             outro: 'If you did not create a Site IQ account, you can safely ignore this email.' };\n    break;\n  case 'recovery':\n    spec = { subject: 'Reset your Site IQ password', heading: 'Reset your password',\n             intro: 'We received a request to reset the password for your Site IQ account. Click below to choose a new password.',\n             cta: 'Reset password', type: 'recovery', tokenHash: ed.token_hash, recipient: toEmail,\n             outro: 'If you did not request a password reset, you can safely ignore this email - your password will not change.' };\n    break;\n  case 'magiclink':\n    spec = { subject: 'Your Site IQ sign-in link', heading: 'Your sign-in link',\n             intro: 'Click the button below to sign in to Site IQ. This link will sign you in instantly.',\n             cta: 'Sign in to Site IQ', type: 'magiclink', tokenHash: ed.token_hash, recipient: toEmail,\n             outro: 'If you did not try to sign in, you can safely ignore this email.' };\n    break;\n  case 'invite':\n    spec = { subject: 'You have been invited to Site IQ', heading: 'You have been invited',\n             intro: 'You have been invited to join Site IQ. Accept the invitation to set up your account.',\n             cta: 'Accept invitation', type: 'invite', tokenHash: ed.token_hash, recipient: toEmail,\n             outro: 'If you were not expecting this invitation, you can safely ignore this email.' };\n    break;\n  case 'reauthentication':\n    // Reauthentication sends a 6-digit OTP (ed.token), not a link.\n    spec = { subject: 'Your Site IQ verification code', heading: 'Verification code',\n             intro: 'Enter this code to confirm it is you:', cta: null, type: null, tokenHash: null,\n             recipient: toEmail, code: ed.token,\n             outro: 'If you did not request this, you can safely ignore this email.' };\n    break;\n  case 'email_change': {\n    // Secure Email Change can send TWO emails (one to the old address, one to the new). The token/hash\n    // field names are REVERSED for backward-compat (Supabase docs):\n    //   - to the CURRENT email (user.email):  use token_hash_new\n    //   - to the NEW email     (user.new_email): use token_hash\n    // We emit one item per address that is present, each confirming the change.\n    const newEmail = user.new_email || ed.new_email;\n    const outItems = [];\n    const base = { subject: 'Confirm your email change for Site IQ', heading: 'Confirm your new email',\n                   cta: 'Confirm email change', type: 'email_change',\n                   outro: 'If you did not request to change your email, contact support immediately.' };\n    if (toEmail && ed.token_hash_new) {\n      outItems.push({ ...base,\n        intro: `Confirm the change of your Site IQ email to ${escapeHtml(newEmail || '')}.`,\n        tokenHash: ed.token_hash_new, recipient: toEmail });\n    }\n    if (newEmail && ed.token_hash) {\n      outItems.push({ ...base,\n        intro: 'Confirm this address as the new email for your Site IQ account.',\n        tokenHash: ed.token_hash, recipient: newEmail });\n    }\n    if (outItems.length === 0) return fail('email_change payload missing token hashes / recipients');\n    return outItems.map(s => ({ json: buildEmail(s) }));\n  }\n  default:\n    // Unknown / notification-only action types (password_changed_notification, etc.). Supabase still\n    // expects a 200; render a generic notice rather than failing the hook.\n    spec = { subject: 'Site IQ account notification', heading: 'Account notification',\n             intro: `A \"${escapeHtml(actionType)}\" event occurred on your Site IQ account.`, cta: null,\n             type: null, tokenHash: null, recipient: toEmail,\n             outro: 'If this was not you, please review your account security.' };\n}\n\nreturn [{ json: buildEmail(spec) }];\n\n// --- email renderer -------------------------------------------------------------------------------\nfunction buildEmail(s) {\n  const link = s.tokenHash ? verifyUrl(s.tokenHash, s.type) : null;\n  const button = link\n    ? `<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:24px 0;\">\n         <tr><td style=\"border-radius:8px;background:#4f46e5;\">\n           <a href=\"${link}\" target=\"_blank\"\n              style=\"display:inline-block;padding:12px 28px;font-size:15px;font-weight:600;color:#ffffff;text-decoration:none;border-radius:8px;font-family:Arial,Helvetica,sans-serif;\">\n              ${escapeHtml(s.cta)}</a>\n         </td></tr>\n       </table>\n       <p style=\"font-size:13px;line-height:1.6;color:#6b7280;margin:0 0 4px;\">Or paste this link into your browser:</p>\n       <p style=\"font-size:13px;line-height:1.6;color:#4f46e5;word-break:break-all;margin:0 0 8px;\">\n         <a href=\"${link}\" target=\"_blank\" style=\"color:#4f46e5;\">${escapeHtml(link)}</a></p>`\n    : '';\n  const codeBlock = s.code\n    ? `<div style=\"margin:24px 0;font-family:Arial,Helvetica,sans-serif;\">\n         <span style=\"display:inline-block;padding:14px 28px;font-size:30px;letter-spacing:8px;font-weight:700;color:#111827;background:#f3f4f6;border-radius:10px;\">\n           ${escapeHtml(s.code)}</span>\n       </div>`\n    : '';\n\n  const html = `<!DOCTYPE html>\n<html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#f4f4f7;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f7;padding:32px 0;\">\n    <tr><td align=\"center\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e7eb;\">\n        <tr><td style=\"background:#111827;padding:20px 32px;\">\n          <span style=\"font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:700;color:#ffffff;letter-spacing:.5px;\">Site IQ</span>\n        </td></tr>\n        <tr><td style=\"padding:32px;font-family:Arial,Helvetica,sans-serif;color:#111827;\">\n          <h1 style=\"margin:0 0 12px;font-size:21px;font-weight:700;color:#111827;\">${escapeHtml(s.heading)}</h1>\n          <p style=\"margin:0 0 8px;font-size:15px;line-height:1.6;color:#374151;\">${s.intro}</p>\n          ${button}${codeBlock}\n          <p style=\"margin:16px 0 0;font-size:13px;line-height:1.6;color:#6b7280;\">${escapeHtml(s.outro)}</p>\n        </td></tr>\n        <tr><td style=\"padding:18px 32px;background:#f9fafb;border-top:1px solid #e5e7eb;font-family:Arial,Helvetica,sans-serif;\">\n          <p style=\"margin:0;font-size:12px;line-height:1.5;color:#9ca3af;\">Site IQ - automated website intelligence. This is an automated message; please do not reply.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\n  return {\n    valid: true,\n    action: actionType,\n    to: s.recipient,\n    fromName: FROM_NAME,\n    subject: s.subject,\n    html: html,\n  };\n}\n"
      },
      "id": "db5edd26-0bef-579c-a767-86bf4746ae60",
      "name": "Verify & Build",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "21206d57-1ce9-5cc3-9421-537c8b776837",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "62d78bb1-1eca-5ffa-a4ab-821fbbbc9ad7",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "senderName": "Site IQ",
          "appendAttribution": false
        }
      },
      "id": "7ba9991c-544b-565b-a80c-eb2166e12a5e",
      "name": "Send auth email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "wnVGCzGOYR3M7ZNF",
          "name": "Site IQ Gmail"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d93196ee-f654-58bc-a753-6423171ff2b2",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'unauthorized', message: $json.reason } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "21c53fe8-9de4-5dcb-9b4f-baa733f5facf",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        420
      ]
    }
  ],
  "connections": {
    "Send Email webhook": {
      "main": [
        [
          {
            "node": "Verify & Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify & Build": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Send auth email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send auth email": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}